# Konfigurasi aplikasi
APP_NAME=sample-product
APP_DESCRIPTION="Sample Tenant Product"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_FRONTEND_URL=

# Dapat dari Secman
OIDC_PROVIDER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URL=
OIDC_POST_LOGOUT_REDIRECT_URI=
# Scope minimal yang diperlukan adalah "openid email profile resource role"
OIDC_SCOPES="openid email profile resource role"
